.input-block {
  position: relative;
}
 .input-block label {
  font-size: 1.1rem;
  color: black;
}
.input-block input {
  display: grid;
  height: 2.5rem;
  width: 11rem;
  border-radius: 0.7rem;
  background: whitesmoke;
  border: none;
  outline: 0;
  font: 1.3rem rgb(71, 71, 71) Poppins;
  color: var(--color-text-input);
  box-shadow: 1px 0.9px 1px  rgb(83, 83, 83);
  margin: 0.3rem;
}